body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.container {
    height: 700px;
    width: 800px;
    border: 5px solid rgb(161, 25, 25);
    background: red;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.gridsize {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup {
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border-color: beige;
}
.popup:active {
    color: rgb(106, 106, 108);
}

.header {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

.display {
    height: 520px;
    width: 720px;
    background: rgb(225, 216, 216);
    margin: auto;
    border: 1px solid black;
    display: grid;
}

.footer {
    display: flex;
    justify-content: center;
    margin: auto;
}

.resetbtn {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border:none;
    background: rgb(102, 102, 234);
}

.resetbtn:active {
    transform: scale(0.96);
    background: rgb(132, 105, 239);
    color: rgb(255, 255, 255);
}

.black:focus {
    background: black;
    color: aliceblue;
    transition: 0.2s ease-in-out;
}

.random:focus {
    background: linear-gradient(yellow ,cyan);
    color: honeydew;
    transition: 0.2s ease-in-out;
}


